
.yandiv{
margin-top: -50%;
  margin-left: 10%;
}
.depilk{
  display: flex;
  flex-direction: row;
  margin-left: 18%;
  margin-top: 2%;
}
.depikonilk{
  font-size: 2.5vw;
  color:#9ED0C8;

}
.depyazi00{
  color:#9ED0C8;
  font-size: 1.5vw;
  margin-top: 1%;
  margin-left: 1%;
}
.cardyan{
  margin-top: 5%;
  margin-left: 20%;
  width: 80%;


}
.bodys01{
  height: 3vw;
}
.myTable{
  display: flex;
  flex-direction: row;
  background-color: #D8EDEE;
}
.geldi{
  display: flex;
  flex-direction: column;
}
.adad{
  font-size: 1.2vw;
}
.adsoyad{
  font-size: 1.2vw;
  margin-left: 5vw;

}
.yetkilitel{
  font-size: 1.2vw;
  margin-left: 10vw;
}
.depoadiya{
  font-size: 1.5vw;

}
.yetkiliadis{
  font-size: 1.5vw;
  margin-left: 3vw;
}
.bla{
  display: flex;
  flex-direction: row;
}
.aciklamagel{
  font-size: 1.2vw;
  margin-left: 5vw;
}
.aciklama2gel{
  font-size: 1.2vw;
  margin-left: 4vw;
}
.s01{
  display: flex;
  flex-direction: column;
}
.s02{
  display: flex;
  flex-direction: column;
}
.disaributton{
  margin-top: 5%;
  margin-left: 75%;
  color: #FFFFFF;
  border: none;
  border-radius: 22px 22px 22px 22px;
  width: 20%;
  height: 2vw;
  background-color: #9BCD5C;
}