
.divdepo{

  margin-top: -50%;
  display: flex;
  flex-direction: column;
}
.depoilk{
  margin-top: 3%;
  margin-left: 25%;
  width: 20%;
  height: 2vw;
  display: flex;
  flex-direction: row;
}
.ikon1{
  color: #9ED0C8;
  height: 3vw;
}
.divyazi1{
  margin-left: 5%;
  font-size: 1.2vw;
  font-weight: bold;
}
.carddep{
  border-radius: 10px 10px 10px 10px;
  background-color: #FFFFFF;
  width: 70%;
  height: 20vw;
  margin-left: 25%;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
}
.carden1{
  margin-top: 2%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}
.depadi0{
  display: flex;
  flex-direction: row;
}
.depoadiyazi{
  font-size: 1.2vw;
}
.idepokuladi{
  margin-left: 32%;
  margin-top: 2%;
  height: 1.8vw;
  width: 60%;
border-radius: 10px 10px 10px 10px;
  border: 1px solid #10A3AC;

}
.depsef{

  display: flex;
  flex-direction: row;
}
.sefbilyazi{
  font-size: 1.2vw;
  margin-top: 8%;
}
.ideposefbil{
  margin-left: 26%;
  margin-top: 7%;
  height: 2vw;
  width: 60%;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid #10A3AC;

}
.depyetkiliad{
  margin-top:2%;
  display: flex;
  flex-direction: row;
}
.depyetkiliadi{
  font-size: 1.2vw;
  margin-top: 8%;
}
.idepoyetkadi{
  margin-left: 30%;
  margin-top: 7%;
  height: 1.8vw;
  width: 60%;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid #10A3AC;

}
.depyetbilgi{
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}
.depyetbilgi{
  font-size: 1.2vw;
}
.idepoyetbilgi{
  margin-left: 5%;
  margin-top: 3%;
  height: 1.8vw;
  width: 70%;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid #10A3AC;
}
.cardsa{
  display: flex;
  flex-direction: column;
}
.depacik1{
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-top: 8%;
}
.depacik1yazi{
  margin-top: 10%;
  font-size: 1.5vw;
}
.idepacik1{
  border-radius: 10px 10px 10px 10px;
 margin-left: 10%;
  height: 6vw;
  border: 1px solid #10A3AC;
}
.depacik2{
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  margin-top: 8%;
}
.yetbutton{
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  margin-left: 80%;
}
.yetbut{
  color: #FFFFFF;
  border: none;
  width: 60%;
  height: 1.5vw;
  background-color: #9BCD5C;
  font-size: 0.8vw;
  border-radius: 22px 22px 22px 22px;
  cursor: pointer;
}
.yetip{
  cursor: pointer;
  margin-top: 3%;
  color: #FFFFFF;
  border: none;
  border-radius: 22px 22px 22px 22px;
  width: 60%;
  height: 1.5vw;
  background-color: #CD1C04;
  font-size: 0.8vw;
}
.depkayit{
  margin-left: 25%;
  display: flex;
  flex-direction: column;
  margin-top: -45%;
}
.depilk{
  display: flex;
  flex-direction: row;
  margin-top: -2%;
}
.depikonilk{
  font-size: 2.5vw;
  color:#9ED0C8;
}
.depyazi00{
  color:#9ED0C8;
  font-size: 1.5vw;
  margin-top: 1%;
  margin-left: 1%;
}
.depkayittam{
  display: flex;
  flex-direction: column;
  margin-left: 40%;
  margin-top: 10%;
}
.okeyikon{
  font-size: 6vw;
  color: #9BCD5C;

}
.okeyyazi{
  margin-top: 2%;
  margin-left: -10%;
  font-size: 1.5vw;
}