@import '@others/assets/styles/variables.scss';


.trkclAppPageReceivable{
  margin-top: 2%;
  display: grid;
  width: 70%;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
  margin-left: 10%;
}


.trkclAppPageReceivableContentTitle{
  display: grid;
  min-height: 91px;
  margin-top: 25px;
  margin-left:1%;
}

.trkclAppPageReceivableContentFirstLabel, .trkclAppPageReceivableContentFourthLabel , .trkclAppPageReceivableContentThirdLabel {
  margin: 0;
}

.trkclAppPageReceivableContentSecondLabel{
}



.trkclAppPageReceivableContentChoice{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3%;
  margin-top: 20px;
}


.trkclAppPageReceivableContentChoiceRadioButton{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2rem;
  width: 200%;
}

.trkclAppPagePukContentChoiceLabelSelected{
  color:$primary-100;
}

.trkclAppPageReceivableContentChoiceRadioButtonUnSelected{
  width: 2rem;
  height: 1.5rem;
}

.trkclAppPageReceivableContentChoiceRadioButtonSelected{
  color: $primary-100;
  width: 2rem;
  height: 1.5rem;
}

.trkclAppPageReceivableContentChoiceRadioButtonTitle{
  margin-left: 2%;
  width: 100%;
}


.trkclAppPageReceivableContentChoiceLabelSelected{
  color: $primary-100;
}



.trkclAppPageReceivableContentInvidualFirstScrow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3%;
  margin-top: 2%;
}

.trkclAppPageReceivableContentInput{

}

.trkclAppPageReceivableContentInvidualSecondScrow{
  margin-top: 1%;
}

.trkclAppPageReceivableContentInvidualRowNoTc{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:3%;
  margin-top: 2%;
}

.trkclAppPageReceivableContentInstitutionalSecondRow{
  margin-top: 2%;
}

.trkclAppPageReceivableContentInvidualThirdScrow{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2%;
  gap:3%;

}

.trkclAppPageReceivableContentNameLabel{
  color:$bluey-grey;
}


.trkclAppPageReceivableContentTCLabel{
  color:$alternative-100;
}


.trkclAppPageReceivableContentInstitutionalFirstRow{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:3%;
  margin-top: 2%;
}


.trkclAppPageReceivableContentInstitutionalThirdRow{
  display: grid;
  grid-template-columns:1fr 1fr;
  gap:3%;
  margin-top: 2%;
}

.trkclAppPageReceivableContentInstitutionalGsm{
  margin-top: 2%;
}

.trkclAppPageReceivableContentInstitutionalGsmRow{
  display: grid;
  grid-template-columns:1fr 1fr;
  gap:3%;
}


.trkclAppPageReceivableContentInvidualButton {
  width:100%;
  margin-top: 10%;
  height:32px !important;
}

.trkclAppPageReceivableContentInvidualSwitchSelectedLabel{
  color: $success !important;
}

.trkclAppPageReceivableContentInvidualSwitchUnSelectedLabel{
  color: $shade;
}

.trkclAppPageReceivableContentDateInput{
  display: flex;
  flex-direction:  column;
}

.trkclAppPageReceivableContentSpanShowMore {
  display: none;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}


.trkclAppPageReceivableContentSpan{
  display: flex;
  flex-direction: row;
}


.trkclAppPageReceivableContentInvidualFirstRowNoTc{
  display: grid;
  grid-template-columns:1fr 1fr;
  gap:3%;
  margin-top: 2%;
}

.trkclAppPageReceivableContentInvidualSecondRowNoTc{
  display: grid;
  grid-template-columns:1fr 1fr;
  gap:3%;
  margin-top: 2%;
}

@media screen and (max-width: 768px) {
  .trkclAppPageReceivable {
    margin-top: 0px;
    grid-template-columns: 1fr;
    width: 100%;
    margin-left: 0;

  }


  .trkclAppPageReceivableContentTitle{
    margin-left: 0%;
    margin-top: -350px;
  }


  .trkclAppPageReceivableContentChoice{
    margin-top:5%;
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 20px;
    margin-left: 5%;
  }

  .trkclAppPageReceivableContentInvidualFirstScrow{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 20px;
    gap:20px;
  }

  .trkclAppPageReceivableContentInvidualSecondScrow{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 20px;
    gap:20px;

  }
  .trkclAppPageReceivableContentInvidualThirdScrow{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 20px;
    gap:20px;

  }

  .scrow4{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 20px;
    gap:20px;
  }

  .trkclAppPageReceivableContentInput{
    width: 95%;
    height:4rem;
  }

  .trkclAppPageReceivableContentInstitutionalSelectBox{
    width: 95%;
  }
  .inputgsm{
    width: 95%;
    height:4rem;
    margin-top: 5%;

  }

  .trkclAppPageReceivableContentChoiceRadioButton{
    height: 3.5rem;
  }

  .trkclAppPageReceivableContentInstitutionalFirstRow{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 20px;
    gap:20px;
  }

  .tcrow2{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 20px;
    gap:20px;
  }

  .tcrow3{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 20px;
    gap:20px;
  }

  .trkclAppPageReceivableContentInstitutionalThirdRow{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 20px;
    gap:20px;
  }

  .trkclAppPageReceivableContentInstitutionalGsmRow{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-top:2%;
    gap:20px;
  }

  .trkclAppPageReceivableContentInstitutionalGsm{
    margin-top: 5%;
  }

  .imagec{
    width: 95%;
  }


  .trkclAppPageReceivableContentInvidualButton {
    margin-top: 0px;
    width:95%;
  }

  .trkclAppPageReceivableContentInvidualSwitch{
    width: 95%;
  }

  .trkclAppPageReceivableContentFirstLabel{
    margin-left: 5%;
  }

  .trkclAppPageReceivableContentSecondLabel{
    margin-left:5%;
  }

  .trkclAppPageReceivableContentInvidualFirstRowNoTc{
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    margin-top:2%;
    gap:20px;
  }

  .trkclAppPageReceivableContentInvidualSecondRowNoTc{
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    margin-top:20px;
    gap:20px;
  }
  .trkclAppPageReceivableContentThirdLabel {
    margin-left: 5%;
    width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 13rem;

  }
  .trkclAppPageReceivableContentSpanShowMore {
    display: block;
  }
  .trkclAppPageReceivableContentFullLabel {
    display: block;
    max-width: 97%;
    margin-left:5%;
    margin-top: 0;
  }

  .trkclAppPageReceivableContentFourthLabel{
    margin-left: 5%;
    margin-top: 10%;
    font-size: 1rem;
    font-weight: normal;
    display: none;
  }


}








