.yan{
  display: flex;
  flex-direction: column;
  margin-left: 50%;
  margin-top: 5%;
}
.ikon{
  font-size: 6vw;
  color: #9BCD5C;
}
.yazi{
  margin-left: -10%;
  font-size: 1.2vw;
}
.div1{
  margin-top: 3%;
  margin-left: 30%;
  width: 20%;
  height: 2vw;
  display: flex;
  flex-direction: row;
}
.ikon1{
  color: #9ED0C8;
  height: 3vw;
}
.divyazi1{
  margin-left: 5%;
  font-size: 1.1vw;
  font-weight: bold;
}