.pukCodepage{
  display: flex;
  grid-template-columns: 1fr 3fr;
}

.pukCodeIndex{
  display:flex;
  grid-template-column: 1fr 1fr;
  gap: 2rem;
}
.simCardIndex{
  display: grid;
  grid-template-columns: 3fr 2fr 1fr ;
}
.simCardRadioButton{
display: flex;
  flex-direction: column;




}
.simCardRadioButtonLabel{
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  gap:-6rem;
}
