.dis{
  display: flex;
  flex-direction: column;
  background-color: #123341;
  width: 20%;
  height: 50vw;
  font-size: 2.5vw;

}
.en1{
  margin-top: 5%;
  margin-left: 20%;
  display: flex;
  flex-direction: column;
}
.ikyaz1{
  display: flex;
  flex-direction: row;
}
.linkdiv1{
  display: flex;
  flex-direction: row;
}
.linkdiv2{
  display: flex;
  flex-direction: row;
}
.linkdiv3{
  display: flex;
  flex-direction: row;
}
.ikon1{
  font-size: 2vw;
  margin-top: 2%;
  color: #FFFFFF;
}
.yazi1{
  font-weight: normal;
  margin-left: 5%;
  font-size: 1vw;
  color: #FFFFFF;
}
.altalt{
  margin-left: 20%;
  display: flex;
  flex-direction: column;
}
.alt1{
  margin-left: 30%;
  margin-top: -32%;
  font-weight: normal;
  font-size: 0.9vw;
  color: #FFFFFF;
}
.alt2{
  font-weight: normal;

  font-size: 0.9vw;
  color: #FFFFFF;
  margin-left: 30%;
  margin-top: -32%;
}
.ikon2{
  font-size: 2vw;
  color: #FFFFFF;
}
.ikon3{
  font-size: 2vw;
  color: #FFFFFF;
}
.ikon4{
  font-size: 2vw;
  color: #FFFFFF;
}
.alt4{
  font-weight: normal;
  margin-top: -10%;
  font-size: 0.9vw;
  color: #FFFFFF;
  margin-left: 30%;
  margin-top: -32%;
}
.altdep{
  margin-left: 40%;
  margin-top: -42%;
  font-weight: normal;
  font-size: 0.9vw;
  color: #FFFFFF;
}
.altrn{
  margin-left: 40%;
  margin-top: -42%;
  font-weight: normal;
  font-size: 0.9vw;
  color: #FFFFFF;

}
.har1{
  display: flex;
  flex-direction: row;
  margin-left: 20%;
  margin-top: 5%;
}
.ikonhr{
  font-size: 2.2vw;
  margin-top: 2%;
  color: #FFFFFF;
}


.div1{
  margin-top: 6%;
  margin-left: 30%;
  width: 20%;
  height: 2vw;
  display: flex;
  flex-direction: row;
}
.ikon000{
  color: #9ED0C8;
  height: 3vw;
}
.divyazi1{
  margin-left: 5%;
  font-size: 1.1vw;
  font-weight: bold;
}
.ilk{
  display: flex;
  flex-direction: row;
}
.divara{
  margin-top: 8%;
  margin-left: 30%;
  display: flex;
  flex-direction: row;
}
.ara{
  box-shadow: none;
  border-color:#10A3AC;
  width: 100%;
  height: 1.5vw;
  border-radius: 22px 22px 22px 22px;
}
.ikonara{
  color:#10A3AC;
}
.card{
  color: #626262;
  margin-left: 30%;
  margin-top: 10%;
  width: 80%;
  height: 13vw;
  border-radius: 8px 8px 8px 8px;
}
.yazi000{
  font-size: 1.5vw;
  margin-left: 2%;
  color: black;
}
.cardic{
  display: flex;
  flex-direction: column;
}
.cardic1{
  box-shadow: none;
  display: flex;
  flex-direction: row;
  margin-left: 2%;
}
.icyazi1{
  font-size: 1vw;
  color: black;
}
.in1{
  border-radius: 22px 22px 22px 22px;
  margin-top: 1%;
  margin-left: 9%;
  width: 40%;
  height: 1vw;
}
.cardic2{
  display: flex;
  flex-direction: row;
  margin-left: 2%;
  box-shadow: none;
}
.icyazi2{
  font-size: 1vw;
  color: black;
}
.in2{
  border: 1px solid #626262;
  border-radius: 22px 22px 22px 22px;
  margin-top: 1%;
  margin-left: 7.5%;
  width: 40%;
  height: 1vw;
}
.lis{
  border: none;
  margin-top: 3%;
  margin-left: 95%;
  border-radius: 8px 8px 8px 8px;
  font-size: 1.2vw;
  width: 15%;
  height: 2.5vw;
  background-color: #9BCD5C;
  color: #ffffff;
}
.table{
  width: 80%;


  padding: 8px;

}
.katad{
  margin-left: 5%;
}
.katkod{
  margin-left: 8%;
}
.katsay{
  margin-left: 8%;
}
.katmal{
  margin-left: 8%;
}
.katad1{
  margin-left: 80%;
}
.katkod1{
  margin-left: 8%;
}
.katsay1{
  margin-left: 50%;
}
.katmal1{
  margin-left: 8%;
}
.cardalt{

  margin-top: 8%;
  margin-left: 40%;

}
.altalt000{
width: 70%;
  margin-left: -17%;
  display: flex;
  flex-direction: column;
}
.eses00{
  display: flex;
  flex-direction: row;
}
.yazyaz01{

}
.body{
  margin-left: 20%;

  background-color: #FFFFFF;
}
.iiii01{
  width: 100%;
  background-color: lightblue;
}
.aa01{
  width: 100%;
}
.bodys01{
  margin-left: 15%;
  width: 100%;
}