
.rsm1{
  border-radius: 10px 10px 10px 10px;
  width: 20%;
  height: 4vw;

}
.rsm1:hover{
  border: 2px solid darkblue;
}
.yazi{
  margin-left: 35%;
  font-weight: normal;
  font-size: 2vw;
}
.dis{
  display: flex;
  flex-direction: column;
}
.marks{
  margin-top: 3%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
}
.marks1{
  margin-top: 5%;
  display: flex;
  flex-direction: row;
}
.marks2{
  margin-top: 8%;
  display: flex;
  flex-direction: row;
}
.marks3{
  margin-top: 0%;
  display: flex;
  flex-direction: row;
}

.rsm2{
  margin-left: 10%;
  border-radius: 10px 10px 10px 10px;
  width: 20%;
  height: 4vw;
}
.rsm2:hover{
  border: 2px solid darkblue;
}

.rsm3 {
  margin-left: 10%;
  border-radius: 10px 10px 10px 10px;
  width: 20%;
  height: 4vw;
}
.rsm3:hover{
  border: 2px solid darkblue;
}
.rsm4{
  border-radius: 10px 10px 10px 10px;
  width: 20%;
  height: 4vw;
}
.rsm4:hover{
  border: 2px solid darkblue;
}

.rsm5{
  margin-left: 10%;
  border-radius: 10px 10px 10px 10px;
  width: 20%;
  height: 4vw;
}
.rsm5:hover{
  border: 2px solid darkblue;
}

.rsm6{
  margin-top: -5%;
  margin-left: 10%;
  border-radius: 10px 10px 10px 10px;
  width: 20%;
  height: 15vw;
}
.rsm6:hover{
  border: 2px solid darkblue;
}
.rsm7{
  border-radius: 10px 10px 10px 10px;
  width: 15%;
  height: 5vw;
}
.rsm7:hover{
  border: 2px solid darkblue;
}
.rsm8{
  margin-left: 15%;
  border-radius: 10px 10px 10px 10px;
  width: 20%;
  height: 7vw;
}
.rsm8:hover{
  border: 2px solid darkblue;
}

