@import '@others/assets/styles/variables.scss';

.page {
  display: flex;
  flex-direction: row;
}


.divdis{
  display: flex;
  align-items: center;
}

.divdis2{
  display: flex;
  align-items: center;
}

.div{
  margin-top: 3%;
  margin-left: 20%;
  width: 100%;
}

.div3{
  margin-top: 1%;
  margin-left: 6%;
  width:100%;
}



.divbox {
  display: flex;
  align-items: center;
  margin-top: 8%;
}

.box {
  width: 97%;
  height: 6vw;
  border-radius: 8px;
  box-shadow: 0 6px 12px -4px $dark-20;
  border: solid 1px #dce1e6;
  background-image: linear-gradient(108deg,$primary-100 0%, $primary-200 100%);
}




.box2{
  width:100%;
  border-radius: 8px;
  box-shadow: 0 6px 12px -4px rgba(37, 51, 66, 0.2);
  border: solid 1px #dce1e6;
  background-color:$grey-alternative;
}

.icon {
  color:$white;
}

.imageya{
  margin-left: 1.2rem;
  width:2rem;
  height:2.5rem;
  color: $white;
}

.icon2{
  color:$black;
  margin-left: 5%;
}

.p{
  font-size: 1.7vw;
  font-family: GreycliffCF,sans-serif;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  color:$white;
  margin-left: 3%;
}

.p1{
  font-size: 2.5vw;
  font-weight: bold;
  margin-left: 3%;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  font-family: GreycliffCF,sans-serif;
  color:$dark;
}

.p4{
  margin-left: 3%;
  font-size: 1.2vw;
  font-family: GreycliffCF,sans-serif;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  font-weight: bold;
  color:$dark;
}

.p2{
  margin-left: 4%;
  font-size: 1.2vw;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: $dark;
  font-family: GreycliffCF,sans-serif;
}


.div1{
  display: flex;
  align-items: center;
  margin-top: 10%;
}



.selectedMenuItem {
  margin-top: 10%;
  display: flex;
  align-items: center;

}

.selectedMenuItem .p2,
.selectedMenuItem .icon2{
  color: $primary-100;
}

.div1:hover .icon2,
.div1:hover .p2 {
  color:$primary-100;
}

.divcheckbox{
  border-radius: 12px;
  background-color:$white;
  width:60%;
  height: 5vw;
}

.divcheckbox2{
  border-radius: 12px;
  background-color:  $white;
  width: 40%;
  height: 5vw;
  margin-left: 1%;
}

.imagec{
  margin-top: 5%;
}

.div4{
  display: flex;
  align-items: center;
}

.div5{
  width: 100%;
}

.div6{
  margin-left: 2%;
  margin-top: 3%;
}

.div7 {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 80%;
  margin-top: -14%;
  margin-left: 3%;
}

.radio1{
  width: 100%;
  margin-left: 0%;
}
.pradioSelected{
  color: $primary-100;
}

.divr{
  display: flex;
  flex-direction: column;
}

.divyeni1{
  display: flex;
  flex-direction: row;
}

.div8{
  display: flex;
  align-items: center;
}

.button {
  width:100%;
  margin-top: 10%;
  height:1vw !important;
}

.label {
  color: $primary-100;
  font-weight: bold;
  font-size: 1vw;
}

.h6{
  margin-top: -2%;
}

.grid {
  width:100%;
  margin-top:5%;
  border-radius: 8px;
  background-color:$white;
}

.grid2{
  width:100%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.grid3{
  width: 100%;
  margin-top: 4%;
}

.p3{
  font-size: 0.6rem;
}

.image{
  margin-left:29%;
  width: 20%;
  height: 30%;
}

.divicon{
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-left: 30%;
  gap: 15%;
}

.divri{
  display: flex;
  flex-direction: row;
  margin-top: 4%;
}

.divrii{
  display: flex;
  flex-direction: row;
}

.grid6{
  margin-top: 5%;
  width: 100%;
}

.grid7{
  margin-top: 18%;
  width: 100%;
}

.grid8{
  margin-top: 5%;
}

.input{
  width: 150%;
  height: 3.5vw;
}

.inputt{
  height: 3.5vw;
}

.inputson{
  height: 3.5vw;
  width: 100%;
}

.imageis{
  width:100%;
}

.grid2ic{
  display: flex;
  flex-direction: row;
  width: 100%;
}

@media (max-width: 767px) {
  .divdis{
    flex-direction: column;
  }

  .div3{
    visibility: hidden;
  }

  .divdis2{
    margin-left: -27%;
  }

  .div{
    width: 100%;
    margin-left:0;
    margin-top: -8%;
  }

  .divtitle{
    margin-left:-15%;
    font-size: 5vw;
  }

  .divbox{
    margin-top:2%;
  }

  .box{
    width: 100%;
    border-radius: 0;
    height: 18vw;
    margin-top: 8%;
  }

  .imageya{
    height: 7vw;
    width:10%;
    margin-left: 4%;
  }

  .p {
    margin-left:7%;
    margin-top: 4%;
    font-size: 5vw;
  }

  .p1{
    font-size: 6vw;
  }

  .p4{
    font-size: 4vw;
  }

  .div7 {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    margin-left: 0;
  }

  .divcheckbox{
    margin-left: -5%;
    width: 95%;
    height: 20vw;
    margin-top: 5%;
  }

  .divcheckbox2{
    margin-left: -5%;
    width: 95%;
    height: 20vw;
    margin-top: 1%;
  }

  .div6{
    margin-top: 5%;
  }
  .label {
    font-size: 4vw;
  }

  .grid{
    margin-left: 0%;
    margin-top: 30%;
  }

  .grid2{
    margin-left: 0%;
    margin-top: 25%;
  }

  .image{
    margin-top: 0%;
  }

  .grid3{
    margin-top: 25%;
  }

  .button{
    height: 8vw;
  }


  .p3{
    font-size: 3vw;
  }

  .divri{
    margin-top: 30%;
  }

  .imagec{
    height: 12vw;
  }

  .grid6{
    margin-top: 25%;
  }

  .grid8{
    margin-top:30%;
  }

  .divrii{
    margin-top: -2%;
  }

  .grid7{
    margin-top: 43%;
  }

  .input{
    height: 3rem;
  }

  .inputt{
    height: 3rem;
  }

  .inputson{
    height: 3rem;
    width: 100%;
  }

}


@media (max-width: 1035px) and (min-width: 768px) {

  .box{
    height: 7vw;
  }

  .label{
    margin-top: 1%;
    font-size: 0.9vw;
  }

  .h6{
    font-size: 0.6vw;
  }

  .div6{
    margin-top: 0.6%;
  }

  .grid{
    margin-left:7%;
  }

  .grid2{
    margin-left:7%;
  }

  .image{
    margin-top: 12%;
    margin-left: 2%;
  }

  .p3{
    margin-top: 1%;
    margin-left: 7%;
  }

  .grid3{
    margin-top: 7%;
    margin-left: 7%;
  }

  .divri{
    margin-top: 3%;
  }
}



